@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--step--2: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
	--step--1: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
	--step-0: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
	--step-1: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
	--step-2: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
	--step-3: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
	--step-4: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
	--step-5: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
}

*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@layer base {
	h1 {
		@apply text-4xl font-extrabold scroll-m-20 lg:text-5xl xl:text-7xl;
	}

	h2 {
		@apply scroll-m-20 text-3xl font-semibold first:mt-0;
	}

	h3 {
		@apply scroll-m-20 text-2xl font-semibold;
	}

	h4 {
		@apply scroll-m-20 text-xl font-semibold;
	}

	p {
		@apply leading-7 [&:not(:first-child)]:mt-6;
	}

	blockqoute {
		@apply pl-6 mt-6 italic border-l-2;
	}

	ul {
		@apply my-6 list-none;
	}

	img {
		display: block;
		max-width: 100%;
	}

	.lead {
		color: #eee;
		@apply text-xl;
	}

	.large {
		@apply text-lg font-semibold;
	}

	.fontStandard {
		font-size: var(--step-0);
	}

	small {
		@apply text-sm font-light leading-4;
	}

	.muted {
		color: #eee;
		@apply text-sm;
	}
}

html {
	font-family: 'Urbanist', sans-serif;
}
